.container {
  max-width: 60%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
}

.dark-blue {
  color: $dark-blue;
  font-weight: bold;
}

.green {
  color: #2eca8b;
}

.grey {
  color: #8492A6;
}

.mb-2 {
  margin: 20px 0;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}
.mr-4 {
  margin-right: 40px;
}
