footer {
  font-weight: 400;
  background: $footer-background;
  .container {
    padding-top: 50px;
    .landrick-social {
      img {
        width: 150px;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          margin: 0 $mg-0_5;
          a {
            @include flex(center,center,nowrap);
            padding: $pd-1;
            border-radius: 8px;
            width: 30px;
            height: 30px;
            border: 1px solid #3c4858;
            color: $light-grey;
            &:hover {
              color: $white;
              cursor: pointer;
              transition: 1s;
              border: none;
              background: $dark-blue;
            }
          }
        }
      }
    }
    .landrick-company {
      ul {
        color: $light-grey;
        li {
          h3 {
            color: $white;
          }
          &:not(:first-child) {
            margin: 10px 0;
          }
          a {
            color: $light-grey;
            &:hover {
              color: $dark-blue;
            }
          }
        }
      }
    }

    .landrick-usefull {
      ul {
        color: $light-grey;
        li {
          h3 {
            color: $white;
          }

          &:not(:first-child) {
            margin: 10px 0;
          }

          a {
            color: $light-grey;
            margin: $mg-0_5 0;

            &:hover {
              color: $dark-blue;
            }
          }
        }
      }
    }

    .landrick-newsletter {
      h3 {
        color: white;
      }

      .landrick-subscribe {
        display: flex;
        flex-direction: column;

        .input-form {
          position: relative;
          i {
            top: 22px;
            z-index: 1;
            position: absolute;
            color: $trasparent-grey;
            margin-left: $mg-1;
          }
          input {
            border-radius: 7px;
            position: relative;
            padding-left: $pd-1;
            height: 40px;
            width: 100%;
            min-width: 200px;
            color: $trasparent-grey;
            background: $input-background;
            border: none;
            &::placeholder {
              opacity: 1;
            }

          }

        }
        button {
          font-weight: bold;
          color: $dark-blue;
          border-radius: 7px;
          height: 40px;
          background: $red-button-footer;
          border: 1px solid $border-button-footer;
          box-shadow: 0 3px 5px 0 $box-shadow-button-footer;
          &:hover {
            transition: 1s;
            cursor: pointer;
            background: $dark-blue;
            color: $white;
          }
        }
      }
    }
  }

  .credits {
    border-top: 1px solid rgba(173, 181, 189,0.2);
    padding-bottom: $pd-4 ;
    .copyright {
      @include flex(center,space-between,nowrap);
      hr {
        border: 0;
        height: 1px;
        background: $trasparent-grey;
      }
      i {
        color: #e43f52;
      }

      .copyright-card {
        img {
          max-width: 35px;
          margin-right: 5px;
        }
      }
    }
  }
}
