header {
  background: $header-background;
  padding-bottom: $pd-5;
  nav {
    @include flex(center, space-between, nowrap);
    padding-top: $pd-3;
    #logo img{
      max-width: 140px;
    }

    .mobile-hamburger {
      display: none;
    }
    ul#link-center {
      @include flex(center,center,nowrap);
      text-transform: uppercase;
      li {
        padding: 0 $pd-2;
        a {
          color: $dark-grey;
          font-size: 13px;
          &:hover {
            color: $dark-blue;
            font-weight: bold;
          }
        }
        i {
          padding: 0 $pd-0_5;
          color: $dark-grey;
        }
      }
    }
    ul#link-right {
      @include flex(center,center,nowrap);
      li {
        color: $light-grey;
        margin: 0 $mg-0_5;
        a:first-child{
          color: $light-grey;
          margin-right: 2px;
        }
        &:not(:first-child) {
          a  {
            color: $dark-blue;
            padding: 7px $pd-1;
            background: $social-background;
            border-radius: 7px;
            box-shadow: 0.5px 5px 5px 0px $box-shadow;
            &:hover {
              transition: 0.7s;
              background: $dark-blue;
              color: $white;
              box-shadow: none;
            }
            i {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@import 'jumbotron.scss';
