header {
  background: $header-background;
  padding-bottom: 50px;
  border-bottom-right-radius: 13%;
  border-bottom-left-radius: 13%;
  nav {
    @include flex(center, space-between, nowrap);
    padding-top: 25px;
    #logo img{
      max-width: 140px;
    }
    ul#link-center {
      @include flex(center,center,nowrap);
      text-transform: uppercase;
      li {
        padding: 0 20px;
        a {
          color: $dark-grey;
          font-size: 13px;
          &:hover {
            color: $dark-blue;
          }
        }
        i {
          padding: 0 5px;
          color: $dark-grey;
        }
      }
    }
    ul#link-right {
      @include flex(center,center,nowrap);
      li {
        color: $light-grey;
        margin: 0 5px;
        a:first-child{
          color: $light-grey;
          margin-right: 2px;
        }
        &:not(:first-child) {
          a  {
            color: $dark-blue;
            padding: 7px 10px;
            background: $social-background;
            border-radius: 7px;
            box-shadow: 0.5px 5px 5px 0px $box-shadow;
            &:hover {
              transition: 0.7s;
              background: $dark-blue;
              color: $white;
              box-shadow: none;
            }
            i {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@import 'jumbotron.scss';
