.jumbotron {
  @include flex(center,space-between,nowrap);
  .jumbotron-title {
    padding-top: 150px;
    section#jumbotron-title-info {
      * {
        padding: 5px 0;
      }
      span {
        background: $social-background;
        padding: 2px 8px;
        border-radius: 15px;
        font-size: 13px;
        color: $dark-blue;
      }

      h1 {
        font-size: 44px;
        letter-spacing: 1px;
      }

      p {
        color: $grey;
        font-size: 18px;
        font-weight: 400;
      }
    }

    section#jumbotron-button {
      margin-top: 20px;
        a {
          background: $white;
          color: $dark-blue;
          padding: 10px 20px;
          border-radius: 5px;
          margin-right: 5px;
          border: 1px solid $dark-blue;
          &:hover {
            background: $dark-blue;
            color: $white;
            transition: 1.2s;
          }
          &:first-child {
            background: $dark-blue;
            color: $white;
            border: none;
            &:hover {
              background: $white;
              color: $dark-blue;
              border: 1px solid $dark-blue;
            }
          }
        }
      p {
        font-weight: 400;
        margin-top: 30px;
        color: $grey;
      }
    }
  }
  .jumbotron-image {
    padding-top: 130px;
  }
}

// patner lista

.patner {
  margin-top: 100px;
  hr {
    background: $light-grey;
    opacity: 0.5;
    border: none;
    height: 1px;
  }

  ul {
    @include flex(center, space-between, nowrap);
    margin-top: 30px;
    li {
      img {
        width: 80px;
      }
    }
  }
}
