.jumbotron {
  @include flex(center,space-between,nowrap);
  .jumbotron-title {
    padding-top: 150px;
    section#jumbotron-title-info {
      * {
        padding: $pd-0_5 0;
      }
      span {
        background: $social-background;
        padding: 2px 8px;
        border-radius: 15px;
        font-size: 13px;
        color: $dark-blue;
      }

      h1 {
        font-size: 43px;
        letter-spacing: 1px;
      }

      p {
        color: $grey;
        font-size: 18px;
        font-weight: 400;
      }
    }

    section#jumbotron-button {
      margin-top: $mg-2;
        a {
          background: $white;
          color: $dark-blue;
          padding: $pd-1 $pd-2;
          border-radius: 5px;
          margin-right: $mg-0_5;
          border: 1px solid $dark-blue;
          &:hover {
            background: $dark-blue;
            color: $white;
            transition: 1.2s;
          }
          &:first-child {
            background: $dark-blue;
            color: $white;
            border: none;
            &:hover {
              background: $white;
              color: $dark-blue;
              border: 1px solid $dark-blue;
            }
          }
        }
      p {
        font-weight: 400;
        margin-top: $mg-3;
        color: $grey;
      }
    }
  }
  .jumbotron-image {
    padding-top: 130px;
    img {
      width: 100%;
    }
  }
}

// patner lista

.patner {
  margin-top: $mg-100;
  hr {
    background: $light-grey;
    opacity: 0.5;
    border: none;
    height: 1px;
  }

  ul {
    @include flex(center, space-between, nowrap);
    margin-top: $mg-4;
    padding: 0 $pd-3;
    li {
      transition: width 2s, height 2s, transform 1s;
      img {
        width: 70px;
      }
      &:hover {
        transform: rotate(360deg);
        cursor: pointer;
      }
    }
  }
}
