// background

$header-background: #F8F9FC;
$social-background: #2F55D41A;
// color

$light-grey: #ADB5BD;
$grey: #8492A6;
$dark-grey: #3C4858;
$dark-blue: #2F55D4;
$box-shadow: #c0ccf2;
$white: #fff;


// font-family
$font: 'Nunito', sans-serif;
