// background

$header-background: #F8F9FC;
$social-background: #2F55D41A;
$npm-background: #3C4858;
$npm-list: #4f5a69;
// color

$light-grey: #ADB5BD;
$grey: #8492A6;
$dark-grey: #3C4858;
$dark-blue: #2F55D4;
$box-shadow: #c0ccf2;
$white: #fff;


// font-family
$font: 'Nunito', sans-serif;
$mg-0_5: 5px;
$mg-1: 10px;
$mg-2: 20px;
$mg-3: 30px;
$mg-4: 40px;
$mg-5: 50px;
$mg-100: 100px;
$mg-200: 200px;

$pd-0_5: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 40px;
$pd-5: 50px;
