// background

$header-background: #F8F9FC;
$social-background: #2F55D41A;
$npm-background: #3C4858;
$npm-list: #4f5a69;
$footer-background: #202942;
$input-background: #27314f;
// color

$light-grey: #ADB5BD;
$grey: #8492A6;
$dark-grey: #3C4858;
$dark-blue: #e94649; // sostituzione con red
$hover-blue: #eb0e11; // sostituzione con red
$box-shadow: #c0ccf2;
$box-shadow-card: rgba(60,72,88,0.15);
$box-shadow-card-hover: rgba(60,72,88,0.20);
$border-grey: #e9ecef;
$border-blue: #dde4f9;
$white: #fff;
$trasparent-grey: #adb5bd;
$red-button-footer: rgba(255, 91, 105, 0.1);
$border-button-footer: rgba(47, 85, 212, 0.1);
$box-shadow-button-footer: rgba(255, 91, 105, 0.3);
$border-ribbon: #d55a0d;
$background-ribbon: #f17425;

// font-family
$font: 'Nunito', sans-serif;
$mg-0_5: 5px;
$mg-1: 10px;
$mg-2: 20px;
$mg-3: 30px;
$mg-4: 40px;
$mg-5: 50px;
$mg-100: 100px;
$mg-150: 150px;
$mg-200: 200px;

$pd-0_5: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 40px;
$pd-5: 50px;
