<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landrick</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./dist/css/master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>

  <div id="root">
    <!-- Header -->
    <header >
      <div class="container">
        <!-- Navbar -->
        <nav>
          <!-- Logo -->
          <span id="logo"><img src="./dist/img/logo-dark.png" alt="logo landrick"></span>
          <!-- Navbar center -->
          <ul id="link-center">
            <li v-for="link in navbar_center" >
              <!-- Nomi link navbar center -->
              <a href="">{{link.name}}
                <!-- Icone navbar center -->
                <i v-if="(link.content)" class="fas" :class="link.content"></i>
              </a>
            </li>
          </ul>

          <!-- Navbar right -->
          <ul id="link-right">
            <li v-for="content in navbar_right">
              <a href="">
                <i :class="`${content.prefix} ${content.icon}`"></i>
              </a>
            </li>
          </ul>
        </nav>


        <!-- Jumbotron -->
        <div class="jumbotron">
          <div class="jumbotron-title">
            <section id="jumbotron-title-info">
              <span>Development</span>
              <h1>A Complete <br>
                Developer Toolset
              </h1>
              <p>Launch your campaign and benefit from our expertise
                on designing <br> and managing conversion centered boostrap4
                html page.
              </p>
            </section>
            <section id="jumbotron-button">
              <a href="">Get Started</a>
              <a href="">Documentation</a>
              <p>Current version: 2.6.0</p>
            </section>
          </div>
          <div class="jumbotron-image">
            <img src="./dist/img/about.png" alt="">
          </div>
        </div>
      </div>
      <!-- Lista patner Amazon,Google.. -->
      <div class="patner">
        <hr>
        <div class="container">
          <ul>
            <li v-for="patner in patners"><img :src="patner.image" alt="Lista patner"></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Inizio main -->
    <main class="container">
      <div class="features">
        <h2>Key Features</h2>
        <p>Start working with <span class="dark-blue">Landrick</span> that can provide everything you need to generate<br> awareness, drive traffic, connect.</p>
      </div>
      <!-- Card features -->
      <div class="card-container">
        <div class="card" v-for="card in cards">
          <div class="icon"><i :class="card.icon"></i></div>
          <h3 >{{card.title}}</h3>
          <p>{{card.paragraph}}</p>
          <a  href="">{{card.anchor}}</a>
        </div>
      </div>
      <!-- Sezione npm -->
      <div class="quickstart">
        <span class="dark-blue">Quickstart</span>
        <h2>Awesome isn't it? Let's dive in!</h2>
        <p>Start working with <span class="dark-blue">Landrick</span> that can provide everything you need to generate <br>awareness, drive traffic, connect.</p>
      </div>
      <!-- Creazione console  -->
      <div class="quickstart-npm">
        <ul>
          <li>npm</li>
          <li>nuget</li>
          <li>spm</li>
          <li>github</li>
        </ul>
        <p class="mt-1"><span class="green">$</span>npm install <span class="green">-g</span> claps.js</p>
      </div>
      <!-- Quickstart subtitle information -->
      <div class="quickstart-npn-subtitle container mt-2">
        <span class="grey mr-4"><i class="far fa-check-circle green"></i> Organize your data</span>
        <span class="grey"><i class="far fa-check-circle green"></i> Work with any team</span>
      </div>
      <!-- Sezione tools -->
      <div class="tools">
        <div class="tools-title">
          <h2>Build tools and <br>
            extensive documention</h2>
            <p class="grey mt-1">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
            <ul class="grey mt-1">
              <li><i class="far fa-check-circle dark-blue mr-2"></i>Digital Marketing Solutions for Tomorrow</li>
              <li><i class="far fa-check-circle dark-blue mr-2"></i>Our Talented & Experienced Marketing Agency</li>
              <li><i class="far fa-check-circle dark-blue mr-2"></i>Create your own skin to match your brand</li>
            </ul>
            <a href="">Read More <i class="fas fa-arrow-right"></i></a>
          </div>
          <div class="tools-image">
            <img src="./dist/img/1.png" alt="">
          </div>
        </div>

        <!-- Sezione Rates -->
        <div class="landrick-rates mt-100">
          <div class="landrick-rates-title">
            <h2>Our rates for developer from landrick team</h2>
            <p class="grey mt-2">Start working with <span class="dark-blue">Landrick</span> that can provide everything you need to generate <br>awareness, drive traffic, connect.</p>
          </div>
        </div>

        <!-- Sezione card acquisto -->
        <div class="buy-card-container mt-100">
          <div class="buy-card" v-for="buycard in section_buy">
            <span class="dark-blue">{{buycard.type}}</span>
            <h2 class="mt-2">{{buycard.price}}</h2>
            <p class="mt-1">{{buycard.time}}</p>
            <p class="mt-1">{{buycard.description}}</p>
            <hr class="mb-2">
            <ul>
              <li v-for="list in buy_list"><i :class="list.icon" class="dark-blue mr-2"></i>{{list.list}}</li>
            </ul>
            <div class="buy-button mt-2">
              <button type="button" name="button">Buy Now</button>
            </div>
            <p class="mt-1">*No credit card required</p>
          </div>
        </div>
        <!-- Sezione Get Started -->
        <div class="work-information">
          <h2>Want to be among the first to find out?</h2>
          <p class="mt-2 grey">Start working with <span class="dark-blue">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
          <!-- Inizio form email -->
          <div class="work-form">
            <input type="email" name="email" placeholder=" Email Address">
            <button>Get Started</button>
          </div>
        </div>
      </main>
<!-- Inizio footer -->
      <footer v-for="footer in footer">
        <div class="container">
          <div class="landrick-social">
            <img :src="footer.logo" alt="">
            <p class="grey">{{footer.paragraph}}</p>
            <ul>
              <li v-for="social in footer.social"><i :class="social.icon"></i></li>
            </ul>
          </div>
          <div class="landrick-company">
            <ul>
              <li v-for="company in footer.companylist"><i :class="company.icon"></i>{{company.subtitle}}</li>
            </ul>
          </div>
        </div>
      </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./src/js/main.js" charset="utf-8"></script>
  </body>
  </html>
