<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landrick</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./dist/css/master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>

  <div id="root">
    <!-- Header -->
    <header >
      <div class="container">
        <!-- Navbar -->
        <nav>
          <!-- Logo -->
          <span id="logo"><img src="./dist/img/logo-dark.png" alt="logo landrick"></span>
          <!-- Navbar center -->
          <ul id="link-center">
            <li v-for="link in navbar_center" >
              <!-- Nomi link navbar center -->
              <a href="">{{link.name}}
                <!-- Icone navbar center -->
                <i v-if="(link.content)" class="fas" :class="link.content"></i>
              </a>
            </li>
          </ul>

          <!-- Navbar right -->
          <ul id="link-right">
            <li v-for="content in navbar_right">
              <a href="">
                <i :class="`${content.prefix} ${content.icon}`"></i>
              </a>
            </li>
          </ul>
        </nav>


        <!-- Jumbotron -->
        <div class="jumbotron">
          <div class="jumbotron-title">
            <section id="jumbotron-title-info">
              <span>Development</span>
              <h1>A Complete <br>
                Developer Toolset
              </h1>
              <p>Launch your campaign and benefit from our expertise
                on designing <br> and managing conversion centered boostrap4
                html page.
              </p>
            </section>
            <section id="jumbotron-button">
              <a href="">Get Started</a>
              <a href="">Documentation</a>
              <p>Current version: 2.6.0</p>
            </section>
          </div>
          <div class="jumbotron-image">
            <img src="./dist/img/about.png" alt="">
          </div>
        </div>
      </div>
      <!-- Lista patner Amazon,Google.. -->
      <div class="patner">
        <hr>
        <div class="container">
          <ul>
            <li v-for="patner in patners"><img :src="patner.image" alt=""></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Inizio main -->
    <main class="container">
      <div class="features">
        <h2>Key Features</h2>
        <p>Start working with <span>Landrick</span> that can provide everything you need to generate<br> awareness, drive traffic, connect.</p>
      </div>
    </main>

    <footer>

    </footer>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./src/js/main.js" charset="utf-8"></script>
</body>
</html>
