<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landrick</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="./dist/css/master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>

  <div id="root">
    <!-- Header -->
    <header >
      <div class="container">
        <!-- Navbar -->
        <nav>
          <!-- Logo -->
          <span id="logo"><img src="./dist/img/logo-dark.png" alt="logo landrick"></span>
          <!-- Navbar center -->
          <ul id="link-center">
            <li v-for="link in navbar_center" >
              <!-- Nomi link navbar center -->
              <a href="">{{link.name}}</a>
              <!-- Icone navbar center -->
              <i v-if="(link.content)" class="fas" :class="link.content"></i>
            </li>
          </ul>

          <!-- Navbar right -->
          <ul id="link-right">
            <li v-for="content in navbar_right">
              <a href="">
                <i :class="`${content.prefix} ${content.icon}`"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./dist/js/main.js" charset="utf-8"></script>
</body>
</html>
